@media only screen and (max-width: 1024px){
    nav .logo{margin-left: 0}
    .main-tltie{margin-top: -20px; font-size: 25px}
}

@media only screen and (max-width: 768px){
    .row{padding: 0px 20px}
    .main-nav{display: none}
    .main-nav li{
        display: block;
        margin-bottom: 15px;
        padding: 5px 15px;
    }
    .main-nav{
        position: fixed;
        right: 0;
        margin: 0;
        height: 100vh;
        background-color: rgba(3, 6, 38, 0.42);
    }
    .logo{
        margin-left: 40%;
        margin-top: 0px;
    }
    .main-tltie{margin-top: -20px; font-size: 25px}
}

@media only screen and (max-width: 640px){
    .logo{width: 170px;margin-left: 100px;margin-top: 10px}
    .main-tltie{margin-top: -20px; font-size: 25px}
}

@media only screen and (max-width: 480px){
    .logo{margin: 0}
    .main-tltie{margin-top: -25px; font-size: 25px}
}

@media only screen and (max-width: 320px){
    .logo{width: 170px}
    .main-tltie{margin-top: -20px; font-size: 25px}
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape) {
    .main-tltie{margin-top: -20px; font-size: 25px}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .main-nav li{margin-bottom: 5px}
    .logo{height: 60px;margin: 0}
    .main-tltie{margin-top: -25px; font-size: 25px}
}
