*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'nanumgothic', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    font-size: 23px;
    line-height: 24px;
    color: #fff;
    font-family: "nanumgothic";
}
p{
    text-align: center;
}
h1{font:700 52px/58px 'nanumgothic';padding-bottom:15px;}
h2{font:700 48px/54px 'nanumgothic';padding-bottom:15px;}
h3{font:700 44px/50px 'nanumgothic';padding-bottom:15px;}
h4{font:700 40px/46px 'nanumgothic';padding-bottom:15px;}
h5{font:700 36px/42px 'nanumgothic';padding-bottom:15px;}
h6{font:700 32px/38px 'nanumgothic';padding-bottom:15px;}
nav{background-color: rgba(0, 0, 0, 0.29)}
.main-nav{
    float: right;
    list-style-type: none;
    margin-top: 20px;
    margin-right: 10px;
    z-index: 299;
}
.main-nav li{
    display: inline-block;
    margin-left: 10px;
    list-style-type: none;
    padding: 2px 10px;
}
.main-nav li a{font-weight: 900; font-size: 20px;}
.navactive{
    color: #fff;
}
.main-nav li:hover a{
    background: linear-gradient( to right, #e774c5, #9797f2 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.menu{
    position: fixed;
    width: 100%;
    padding-bottom: 1px;
    z-index: 199;
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
    transition: all .6s ease;
    top: 0;
}
header{
    width: 100%;
    height: 100%;
    position: relative;
}
video{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    filter: brightness(50%);
}
.hd-text { position: absolute; top: 50%; width: 100%; }
.hd-text p { text-align: center; font-size: 20px; color: #fff }
.main-tltie {
    position: absolute;
    top: 44%; 
    width: 100%;
    text-align: center;
    font-size: 28px;
    font-weight: 900;
    color: #fff;
    background: linear-gradient( to right, #9797f2, #e774c5 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: glow 8s linear infinite;
    background-size: 200%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, color 0.3s ease-in-out;
}
.main-tltie {
    opacity: 1;
}
@keyframes glow {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: 0 0;
    }
}
@keyframes glow-reverse {
    100% {
        background-position: 0 0;
    }
    0% {
        background-position: 200% 0;
    }
}
.logo{
    margin-left: 10px;
    margin-top: 20px;
    max-height: 85px;
    max-width: 230px;
    display: inline-block;
}
.title_box {
    width: 100%;
    height: 100%;
    background: linear-gradient( to right, #e774c5, #9797f2 );
    margin-top: -4px;
}
.box_title { 
    top: 6px;
    text-align: center;
    color: #fff;
    position: relative;
}
.btn_lol {
    width: 250px;
    height: 50px;
    border-radius: 12px;
    border: 2px solid #fff;
    background-color: rgba(0,0,0,0);
    text-align: center;
    color:#fff;
    padding: 5px;
    text-transform: uppercase!important;
    letter-spacing: 2px;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    position: relative;
    overflow: hidden!important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background: transparent!important;
    z-index:10;
}
.btn_lol:hover {
    border: 1px solid #e774c5;
    color: #fff !important;
}
.btn_lol::before {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #e774c5;
    position: absolute;
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg); 
    transform: skewX(-20deg);   
    left: -10%;
    opacity: 1;
    top: 0;
    z-index: -12;
    -moz-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    box-shadow:2px 0px 14px rgba(0,0,0,.6);
} 
.btn_lol::after {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #9797f2;
    position: absolute;
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg); 
    transform: skewX(-20deg);   
    left: -10%;
    opacity: 0;
    top: 0;
    z-index: -15;
    -webkit-transition: all .94s cubic-bezier(.2,.95,.57,.99);
    -moz-transition: all .4s cubic-bezier(.2,.95,.57,.99);
    -o-transition: all .4s cubic-bezier(.2,.95,.57,.99);
    transition: all .4s cubic-bezier(.2,.95,.57,.99);
    box-shadow: 2px 0px 14px rgba(0,0,0,.6);
}
.btn_lol:hover::before, .btn:hover::before{
  opacity:1;
  width: 116%;
}
.btn_lol:hover::after, .btn:hover::after{
  opacity:1;
  width: 120%;
}
img {
    wifth: inherit;
    max-width: 100%;
    height: auto;
}
.top{
    margin-top: 30px;
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
}
.bottom{
    margin-bottom: 18px;
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
}
footer{
    width: 100%;
    padding: 15px;
    background-color:#484848;
    text-align: center;
    color: #ffffff;
    font-size: 13px;
}
